/* Mobile View */
@media only screen and (max-width: 768px) {
  .change-pass-form {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: #242424;
    width: 361px;
    margin: 32px auto;
  }

  .change-pass-input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    padding: 14px 40px 14px 14px;
    width: 305px;
  }
}

/* Desktop View */
@media only screen and (min-width: 768px) {
  .change-pass-box {
    width: 402px;
    padding: 32px 64px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    margin: 48px auto;
  }

  .change-pass-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    color: #242424;
  }

  .change-pass-h1 {
    font-size: 32px;
    line-height: 38.73px;
  }

  .change-pass-input {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    padding: 16px 40px 16px 16px;
    width: 342px;
  }
}

.change-pass-btn {
  width: 100%;
  border: 1px solid #1f1f23;
  border-radius: 4px;
  background-color: #1f1f23;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-top: 24px;
}

.change-pass-btn-disable {
  width: 100%;
  border: 1px solid #b3b2b5;
  border-radius: 4px;
  background-color: #b3b2b5;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-top: 24px;
}
