/* Mobile View */
@media only screen and (max-width: 768px) {
  .admin-dashboard {
    width: 361px;
    margin: 17px auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    color: #1c1c1c;
  }

  .admin-form-input {
    padding: 12px 12px 12px 44px;
    width: 235.4px;
    background-image: url("../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 15px;
  }

  .admin-data {
    padding: 8px 8px 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .admin-data-container {
    width: 303px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20.98px;
    color: #434343;
  }

  .admin-data-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: #000000;
  }

  .admin-data-separator {
    border: 1px solid #d9d9d9;
    height: 14.4px;
    margin: 0 8px;
  }

  .admin-data-name {
    width: 130px;
  }

  .admin-data-loc {
    width: 54px;
  }

  .admin-data-status {
    width: 60px;
    padding: 3px 12px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15.73px;
    border-radius: 99px;
  }

  .admin-data-user-name {
    width: 100px;
  }

  .admin-data-role {
    width: 40px;
  }

  .admin-data-activity {
    width: 127px;
  }

  .admin-data-btn {
    width: 88px;
    text-align: center;
  }

  .admin-data-del-btn {
    width: 62px;
    text-align: center;
  }

  .admin-filter {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .admin-filter-container {
    width: 247px;
    height: calc(100% - 110px);
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    padding: 55px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: #242424;
  }

  .admin-filter-text {
    font-size: 16px;
    line-height: 19.36px;
  }

  .admin-filter-btn {
    border-radius: 2px;
    border: 1px solid #1f1f1f;
    background-color: #1f1f1f;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  .admin-filter-clear {
    font-weight: 400;
    color: #595959;
    text-decoration: underline;
  }

  .admin-filter-select {
    padding: 12px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/src/assets/icons/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 221.4px;
    color: #242424;
  }

  .admin-form-date {
    padding: 12px;
    width: 91.9px;
  }

  .admin-table-btn {
    border-radius: 4px;
    padding: 5px 10px;
    color: #ffffff;
  }

  .admin-modal-box {
    width: 361px;
    margin: 52px auto;
  }

  .admin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1;
  }

  .admin-modal-btn {
    width: 174.5px;
    font-size: 16px;
    color: #1f1f23;
    border: 1px solid #1f1f23;
    border-radius: 4px;
    padding: 10px 20px;
  }
}

/* Desktop View */
@media only screen and (min-width: 768px) {
  .admin-dashboard {
    width: 1300px;
    margin: 42px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #000000;
  }

  .admin-form-input {
    padding: 16px 16px 16px 48px;
    width: 184.4px;
  }

  .admin-form-date {
    padding: 12px;
    width: 124.4px;
  }

  .admin-filter-btn {
    border-radius: 4px;
    border: 1px solid #1f1f1f;
    background-color: #1f1f1f;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    height: 42px;
    align-self: end;
  }

  .admin-table-btn {
    border-radius: 4px;
    padding: 8px 16px;
    color: #ffffff;
  }

  .admin-modal-box {
    width: 620px;
    padding: 32px;
    margin: 48px auto;
  }

  .admin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .admin-modal-btn {
    width: 302px;
    font-size: 16px;
    color: #1f1f23;
    border: 1px solid #1f1f23;
    border-radius: 4px;
    padding: 10px 20px;
  }

  .admin-data-status {
    padding: 6px 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    border-radius: 99px;
  }
}

.admin-dashboard-h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
}

.admin-form-input-boxes {
  display: flex;
  column-gap: 16px;
}

.admin-form-input-box {
  width: 150px;
}

.admin-form-inputs {
  border: 1px solid #b3b2b5;
  border-radius: 4px;
}

.admin-form-select {
  padding: 12px;
  width: 100%;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("../assets/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 122px;
  color: #242424;
}

.admin-form-filter-box {
  display: flex;
  align-items: end;
}

.admin-form-filter {
  border: none;
  text-decoration: underline;
  font-size: 14px;
  height: 40px;
}

.admin-form-search {
  position: relative;
  width: 250px;
}

.admin-form-search-icon {
  position: absolute;
  top: 12px;
  left: 16px;
}

.admin-table {
  border-collapse: collapse;
  width: 100%;
}

.admin-table-head {
  font-weight: 500;
}

.admin-table-cell {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 16px;
  text-align: start;
}

.admin-pagination {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.admin-pagination-btn {
  width: 18.4px;
  height: 18.4px;
  border: 1px solid #b3b2b5;
  border-radius: 2px;
  padding: 6px;
  text-align: center;
  color: #424242;
  cursor: pointer;
}

.admin-pagination-btn-active {
  background-color: #1f1f23;
  border: 1px solid #1f1f23;
  color: #f5f5f5;
}

.admin-nav {
  border-bottom: 4px solid #d9d9d9;
  padding: 8px 16px 16px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #595959;
  cursor: pointer;
}

.admin-nav-active {
  border-bottom: 4px solid #1f1f23;
  color: #242424;
}

.admin-modal-btn-red {
  background-color: #820014;
  border: 1px solid #820014;
  color: #ffffff;
}

.admin-modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}

.admin-modal-select {
  width: 150px;
  padding: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("/src/assets/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 126.4px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #242424;
}

.admin-data-status-new {
  background-color: #fff4ec;
  color: #ce9615;
}

.admin-data-status-approved {
  background-color: #ebffee;
  color: #2e8760;
}

.admin-data-status-declined {
  background-color: #f8d7e8b2;
  color: #a53167;
}

.admin-table-btn-red {
  background-color: #820014;
  border: 1px solid #820014;
}

.admin-table-btn-black {
  background-color: #1f1f23;
  border: 1px solid #1f1f23;
}

.admin-table-new {
  background-color: #fff4ec;
}

.admin-data-actions {
  position: absolute;
  bottom: 100%;
  right: 0;
  border: 1px solid #fafafa;
  border-radius: 4px;
  padding: 16px 20px 16px 16px;
  box-shadow: 0px 9px 28px 8px #0000000a;
  box-shadow: 0px 6px 16px 0px #0000000a;
  box-shadow: 0px 3px 6px -4px #0000000a;
}
