.profile {
  width: 1179px;
  height: 100%;
  margin: 42px auto;
  display: flex;
  justify-content: space-between;
  column-gap: 64px;
}

.profile-sidebar {
  width: 339px;
  height: 100%;
  padding: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #242424;
  border-radius: 4px;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
}

.profile-info {
  color: #434343;
  column-gap: 12px;
}

.profile-btn {
  width: 100%;
  border: 1px solid #1f1f23;
  border-radius: 4px;
  padding: 8px 16px;
  justify-content: center;
  column-gap: 12px;
  font-size: 16px;
}

.profile-sidebar-edit {
  font-weight: 500;
  color: #1f1f23;
  background-color: #fafafa;
}

.profile-trade {
  background-color: #1f1f23;
  color: #fff;
}

.profile-review-num {
  margin-right: 2px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16.94px;
}

.profile-review-total {
  text-decoration: underline;
  font-size: 14px;
  line-height: 16.94px;
  color: #595959;
}

.profile-contents {
  width: 728px;
}

.profile-content-h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38.73px;
  color: #242424;
}

.profile-navs {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #595959;
}

.profile-nav {
  border-bottom: 4px solid #d9d9d9;
  padding: 8px 16px 16px 16px;
  cursor: pointer;
}

.profile-nav-active {
  font-weight: 500;
  color: #242424;
  border-bottom: 4px solid #1f1f23;
  padding: 8px 16px 16px 16px;
  cursor: pointer;
}

.profile-item {
  border: 1px solid #d9d9d9;
  padding: 24px;
  border-radius: 8px;
}

.profile-item-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  color: #242424;
}

.profile-item-date-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #242424;
}

.profile-job-details {
  display: flex;
  column-gap: 32px;
}

.profile-job-detail {
  column-gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #434343;
}

.profile-item-details {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #242424;
}

.profile-btn-cancel {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #820014;
  column-gap: 8px;
  border: none;
}

.profile-btn-black {
  border: 1px solid #1f1f23;
  border-radius: 4px;
  padding: 8px 12px;
  background-color: #1f1f23;
  color: #fff;
  column-gap: 8px;
  width: 200px;
  justify-content: center;
}

.profile-item-offer {
  display: flex;
  column-gap: 16px;
}

.profile-btn-offer {
  border: 1px solid #1f1f23;
  border-radius: 4px;
  padding: 8px 12px;
  color: #1f1f23;
  column-gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  width: 200px;
  justify-content: center;
}

.profile-complete-rated {
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: #1f1f23;
}

.profile-rated-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  text-decoration: underline;
}

.profile-bookmark {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #1f1f23;
  column-gap: 4px;
}

.profile-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.profile-modal-content {
  border-radius: 8px;
  padding: 32px 40px;
  position: relative;
  color: #242424;
}

.profile-modal-job {
  margin: 85px auto;
  width: 647px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.profile-modal-offer {
  margin: 101px auto;
  width: 620px;
}

.profile-modal-close {
  position: absolute;
  top: 11px;
  right: 14px;
}

.profile-modal-h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 33.89px;
}

.profile-modal-details {
  display: flex;
  column-gap: 32px;
}

.profile-modal-detail {
  line-height: 19.36px;
  color: #434343;
  column-gap: 8px;
}

.profile-modal-list {
  padding-left: 16px;
}

.profile-modal-labels {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  display: block;
}

.profile-modal-inputs {
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.profile-modal-input {
  width: 586.4px;
}

.profile-modal-required {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #a8071a;
}

.profile-modal-input-textarea {
  resize: none;
  width: 586.4px;
  height: 200px;
  line-height: 24px;
}

.profile-modal-half-input {
  width: 264.4px;
}

.profile-modal-budget {
  width: 156.4px;
}

.profile-modal-select {
  width: 100px;
}

.profile-status {
  margin-left: 24px;
}

.profile-star {
  margin-right: 2px;
}

.profile-review {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
}

.profile-reviews {
  font-weight: 400;
  text-decoration: underline;
  margin-left: 6px;
}

.profile-font-w-500 {
  font-weight: 500;
}

.profile-about-text {
  font-size: 14px;
  line-height: 21px;
}

.profile-services {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.profile-service {
  border-radius: 2px;
  padding: 8px 12px;
  background-color: #e5e5e5;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: #676767;
}

.profile-contacts {
  column-gap: 12px;
}

.profile-post-btn {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #1f1f23;
  font-size: 16px;
  color: #ffffff;
}

.profile-item-service {
  border-radius: 2px;
  padding: 8px;
  background-color: #e5e5e5;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  color: #676767;
}
